
/* Filters */
.filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
}

.filter-btn {
    font-family: 'Syne';
    font-weight: 700;
    color: #1D6154;
    background-color: white;
    border: 1px solid #1D6154;
    border-radius: 60px;
    padding: 9px 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.filter-btn:hover {
    color: white;
    background-color: #1D6154;
}

.filter-btn.active {
    color: white;
    background-color: #1D6154;
}
